<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alexei Kyzovkin - Portfolio</title>
    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="libs/Magnific/magnific-popup.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="fonts/fonts.css">
    <!-- Style CSS & Grid -->
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-1 left-section">
                <aside class="left-content">
                    <h2 class="left-content__title">Alexei K.</h2>
                    <p class="left-content__profession">Frontend developer</p>
                    <ul class="main-menu">
                        <li class="main-menu__item">
                            <a href="#skills-section" class="main-menu__link">Skills</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#advantages-section" class="main-menu__link">Advantages</a>
                        </li>
                        <li class="main-menu__item hidden">
                            <a href="#experience-section" class="main-menu__link">Experience</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#portfolio-section" class="main-menu__link">Portfolio</a>
                        </li>
                        <li class="main-menu__item hidden">
                            <a href="#blog-section" class="main-menu__link">Blog</a>
                        </li>
                        <li class="main-menu__item hidden">
                            <a href="#pricing-section" class="main-menu__link">Pricing</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#contact-section" class="main-menu__link">Contact</a>
                        </li>
                    </ul>
                </aside>
                <!-- /.main-menu -->
            </div>
            <div class="col-md-11">
                <header class="header">
                    <h2 class="header-title__h2">Hello i'm</h2>
                    <h1 class="header-title__h1">Alexei <span>Kyzovkin</span></h1>
                    <h3 class="header-title__h3">Frontend developer</h3>
                    <p class="header__text">Hello, I’m a Frontend developer from Belarus. Responsible, I perform work in a high-quality and on time. I pay attention to every detail. Quickly learn new things.</p>
                    <div class="links">
                        <a href="#portfolio-section" class="links__item">Portfolio</a>
                        <a href="#skills-section" class="links__item">About me</a>
                    </div>
                </header>
                <!-- ./header -->
                <section class="skills-section" id="skills-section">
                    <h2 class="section-title">Professional skills</h2>
                    <div class="row">
                        <div class="col-md-6 skills-content">
                            <div class="progress-block">
                                <p class="progress-block__title">HTML5 / CCS3</p>
                                <span class="progress-block__value">95%</span>
                                <progress class="progress-block__progress" value="95" max="100"></progress>
                            </div>
                            <div class="progress-block">
                                <p class="progress-block__title">JavaScript</p>
                                <span class="progress-block__value">75%</span>
                                <progress class="progress-block__progress" value="75" max="100"></progress>
                            </div>
                            <div class="progress-block">
                                <p class="progress-block__title">css preprocessors (SASS, LESS)</p>
                                <span class="progress-block__value">100%</span>
                                <progress class="progress-block__progress" value="100" max="100"></progress>
                            </div>
                        </div>
                        <div class="col-md-6 skills-content">
                            <div class="progress-block">
                                <p class="progress-block__title">Bootstrap</p>
                                <span class="progress-block__value">85%</span>
                                <progress class="progress-block__progress" value="85" max="100"></progress>
                            </div>
                            <div class="progress-block">
                                <p class="progress-block__title">Adobe Photoshop</p>
                                <span class="progress-block__value">75%</span>
                                <progress class="progress-block__progress" value="75" max="100">HTML</progress>
                            </div>
                            <div class="progress-block">
                                <p class="progress-block__title">Git</p>
                                <span class="progress-block__value">80%</span>
                                <progress class="progress-block__progress" value="80" max="100">HTML</progress>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.skills-section -->
                <section class="advantages-section" id="advantages-section">
                    <h2 class="section-title">Advantages</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>01</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Responsive</h2>
                                    </div>
                                </div>
                                <div class="content-box__text">All the things: responsive, adaptive, mobile-first, desktop-first, gracefull degradation and progressive enchantment.</div>
                            </div>    
                        </div>
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>02</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Crossbrowser</h2>
                                    </div>
                                </div>
                                <div class="content-box__text">By default support IE10+, Edge, and modern version of Chrome, Mozilla Firefox, Opera, Safari.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>03</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Optimal development time</h2>
                                    </div>
                                </div>
                                <div class="content-box__text">Creation of a website of any complexity in the shortest possible time, without loss of quality performance.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>04</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Service and support</h2>
                                    </div>
                                </div>
                                <div class="content-box__text">Quickly fix any problems on your site, I'm always in touch, and will not disappear!</div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.education-section -->
                <!--<section class="experience-section" id="experience-section">
                    <h2 class="section-title">Experience</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>01</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Basundhara group</h2>
                                        <h3 class="content-box__about">UI &amp; UX Designer</h3>
                                        <h3 class="content-box__session">Session: 2014 - present</h3>
                                    </div>
                                </div>
                                <div class="content-box__text">Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.</div>
                            </div>    
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>03</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Envato studio</h2>
                                        <h3 class="content-box__about">Exclusive author</h3>
                                        <h3 class="content-box__session">Session: 2011 - present</h3>
                                    </div>
                                </div>
                                <div class="content-box__text">Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>02</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Deviserweb</h2>
                                        <h3 class="content-box__about">Co-founder &amp; COO</h3>
                                        <h3 class="content-box__session">Session: 2012 - present</h3>
                                    </div>
                                </div>
                                <div class="content-box__text">Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.</div>
                            </div>
                            <div class="content-box">
                                <div class="content-box__head">
                                    <div class="content-box__number">
                                        <span>04</span>
                                    </div>
                                    <div class="content-box__head-content">
                                        <h2 class="content-box__name">Googldesign</h2>
                                        <h3 class="content-box__about">UI &amp; UX Designer</h3>
                                        <h3 class="content-box__session">Session: 2010 - 2013</h3>
                                    </div>
                                </div>
                                <div class="content-box__text">Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.</div>
                            </div>
                        </div>
                    </div>
                </section>-->
                <!-- /.experience-section -->
                <section class="projects-section" id="portfolio-section">
                    <h2 class="section-title">Recent project</h2>
                    <div class="row">
                        <template v-for="project in projects">
                            <!-- Project Card -->
                            <div class="col-md-6">
                                <div class="project-card">
                                    <a :href="project.link" class="project-card__modal open-modal popup-content">
                                        <div class="project-card__image">
                                            <img :src="project.image" :alt="project.name">
                                        </div>
                                        <div class="project-card__content">
                                            <h2 class="project-card__title">{{ project.name }}</h2>
                                            <p>{{ project.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- ./Project Card -->

                            <!-- Modal of Project Card -->
                            <div :id="project.modalLink" class="white-popup mfp-hide">
                                <div class="modal-wrapper">
                                    <img :src="project.modalImage" :alt="project.name">
                                    <div class="modal-links">
                                        <a :href="project.demoLink" v-if="project.demoLink" target="_blank" class="modal-link demo-link">Demo</a>
                                        <a :href="project.githubLink" v-if="project.githubLink" target="_blank" class="modal-link github-button">view it on github</a>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Modal of Project Card -->
                        </template>
                    </div>
                </section>
                <!-- /.projects-section -->
                <!--<section class="posts-section" id="blog-section">
                    <h2 class="section-title">Recent post</h2>
                </section>-->
                <!-- /.posts-section -->
                <!--<section class="pricing-section" id="pricing-section">
                    <h2 class="section-title">Pricing plan</h2>
                </section>-->
                <!-- /.pricing-section -->
                <!--<section class="feedback-section" id="feedback-section">
                    <h2 class="section-title">Client's feedback</h2>
                </section>-->
                <!-- /.feedback-section -->
                <section class="contact-section" id="contact-section">
                    <h2 class="section-title">Say hello</h2>
                    <div class="social-block">
                        <a href="https://vk.com/a_wow" target="_blank" class="social-block__item social-vk">VK</a>
                        <a href="https://www.facebook.com/arcfire1" target="_blank" class="social-block__item social-facebook">Facebook</a>
                        <a href="tel:storm2714" target="_blank" class="social-block__item social-skype">Skype</a>
                        <a href="mailto:storm371@gmail.com" target="_blank" class="social-block__item social-email">Email</a>
                    </div>
                </section>
                <!-- /.contact-section -->
            </div>
        </div>
    </div>

    <!-- Custom JS -->
    <script src="libs/jQuery/jquery-3.3.1.min.js"></script>
    <script src="libs/Magnific/Magnific-popup.min.js"></script>
    <script src="libs/vue/vue.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>